doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body 
        .header
            .wrapper
                .navigation
                    p Startup
                    nav
                        ul.menu
                            li
                                a(href="#") Home
                            li
                                a(href="#") Services
                            li
                                a(href="#") About
                            li
                                a(href="#") Works
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Clients
                            li
                                a(href="#") Contact
                section.header_section
                    h1 welcome to startup
                    p Your Favourite Creative Agency Template
                    .button
                        a(href="#") Get Started
        script(src="js/script.js")